* :not(input){
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-family: 'Roboto', sans-serif; */

body {
    /* ? test line background-color: red; */

}

main a {

    text-decoration: none;
    font-weight: 700;
    /* color: aqua; */
}

li {
    list-style: none;
    padding-bottom: 10px;

}

main {
    background-color: #181743;
    font-family: 'Roboto', sans-serif;
    color: snow;
    padding: 30px ;
}

main a {
    margin-bottom: 30px;
}

footer {
    background-color: black;
    margin: auto;
    padding: 30px;
}

footer p {
    text-align: center;
    color: snow;
}

.card {
    background-color:rgba(255, 255, 255, 0.2);
    padding: 0px 20px 20px 20px;
}

.card a {
    padding: 10px 20px;
}

.card a:hover {
    color: darkblue;
    background-color: snow;
}

.mybutton {

    border: 0;
    color: blue;
    font-weight: 700;
    background-color: rgba(24, 23, 67, 0.2);
    padding: 7px 20px;

}

.mybutton:hover {
    color: darkblue;
    background-color: snow;
}

@media screen and (min-width: 960px) {
    main {
        font-size: 1.5rem;
        background-image: url(../images/all-images/Astronaut-high-5.jpg); /** placeholder until better image/styling is found */
        background-position: right;
        background-repeat: repeat-y;
    }
}




