*:not(input){
    box-sizing: border-box;
    
  }
  
  body{
    /* background:url(http://artem.anmedio.ru/dev/planet/space.jpg) repeat; */
    background-color: #181743;
    /* background-image: url('/images/tourist.jpeg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


.container__main{
    min-height: 80vh;
    position: relative;
  }
  
  .sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    z-index: 3;
  }
    .sidepanel img{
      width: 20px;
      height: 20px;
      color: #fff;
    }
  
     .sidepanel__divider {
      width: 2px;
      height: 70px;
      background-color: #fff;
    }
    .sidepanel__text {
      height: 150px;
      width: 25px;
    }
    .sidepanel__text span {
        transform: rotate(-90deg) translate(-30%,-260%);
        display: block;
        width: 150px;
        color: #fff;
      }
  
  /* Main Navigation  */
  
  .main__navig{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: rgba(2, 2, 2, 0.2);
    /* background-color: black; */
    height: 8vh;
  }
  .main__navig_list{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    
  }
  
  ul li  {
    list-style: none;
  }
  
  ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
  }
  
  .main__navig_login{
    padding-right: 10px;
    display: flex;
    gap: 30px;
  }