*:not(input){
    box-sizing: border-box;
}
 body {
    /* width: 90%; */
    /* background-color: darkblue; */
    margin: auto;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #181743;
 }

 .home__title{
    margin: center;
   text-align: center;
}

.main__navig{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: white;
    /* background-color: black; */
    height: 8vh;
}
.main__navig_list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}

ul li  {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    

}
.logo{
    width: 10vh;
}


footer{
    /* display: block; */
    text-align: center;
    color: yellow;
}
 