*:not(input){
    box-sizing: border-box;
}
body {
    width: 120vh;
    background-color: rgb(56, 5, 77);
    margin: auto;
    color: yellow;
}
.main__navig{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.main__navig_list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

ul li  {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: yellow;

}
.logo{
    width: 20vh;
}


footer{
    text-align: center;
}












footer{
    color: yellow;
}